@import "search-bar.css";

.main {
    justify-items: center;
}

.section--explorer {
    flex-direction: column;
    padding: var(--padding);
    width: 100vw;
}
.section__title {
    margin: 0.3em 0;
}
.section__horizontal-line {
    border-bottom: var(--border) solid var(--hex-cinnabar);
    margin-bottom: var(--margin);
}
.explorer--grid {
    grid-template-columns: calc(var(--width-min) - 30px);
    grid-auto-flow: column;
    grid-auto-columns: calc(var(--width-min) - 30px);
    grid-template-rows: auto auto;
    gap: var(--gap);
    overflow-y: auto;
    max-width: 100%;
}
.explorer-grid-item {
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.2s;
    background-color: #ececec;
}
.explorer-grid-item:hover {
    box-shadow: 0 0 7px 0 var(--hex-jet);
}
.explorer-grid-item__poster {
    width: 40%;
    aspect-ratio: 9/13;
    object-fit: cover;
    transition: transform 0.2s;
}
.explorer-grid-item:hover .explorer-grid-item__poster {
    transform: scale(1.1);
}
.item-details__title {
    margin: 0;
    padding: calc(var(--padding) / 2);
}
.item-stats {
    font-size: 1.1em;
    align-items: baseline;
}
.item-stats .fas {
    padding: calc(var(--padding) / 2);
}
.item-stats__star {
    color: var(--hex-airblue);
}
.item-stats__heart {
    color: var(--hex-cinnabar);
}

@media (min-width: 900px) {
    .section--explorer {
        width: var(--width-tablet);
    }
    .explorer--grid {
        grid-template-rows: auto;
        grid-template-columns: 21%;
        grid-auto-columns: 21%;
        gap: var(--gap);
    }
    .explorer-grid-item {
        flex-direction: column;
        position: relative;
        border-bottom: 2px solid var(--hex-cinnabar);
    }
    .explorer-grid-item__poster {
        width: 100%;
    }
    .item-details {
        position: absolute;
        top: auto; right: 0; bottom: 0; left: 0;
        background-color: rgba(var(--rgb-cultured), 0.8);
        backdrop-filter: blur(0.5em);
        text-shadow: var(--hex-cultured) 0 0 1em;
        opacity: 0;
        transition: opacity 0.2s;
    }
    .explorer-grid-item:hover .item-details {
        opacity: 1;
    }
    .item-details__title {
        text-align: center;
    }
    .item-stats {
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .section--explorer {
        width: var(--width-laptop);
    }
    .explorer--grid {
        grid-template-columns: 16%;
        grid-auto-columns: 16%;
    }
}