.features {
    grid-auto-flow: row;
    gap: var(--gap);
    justify-items: center;
    margin-bottom: calc(var(--margin) * 2);
}
.feature-item {
    grid-template-columns: 1fr 5fr;
    gap: var(--gap);
    max-width: var(--width-min);
}
.feature-item__icon {
    font-size: 2em;
    justify-self: center;
    color: var(--hex-cinnabar);
}
.feature-item__description {
    margin: 0;
}

@media (min-width: 600px) {
    .features {
        grid-template-columns: repeat(2, 1fr);
        gap: calc(var(--gap) * 2);
        padding: var(--padding);
        margin-bottom: calc(var(--margin) * 3);
    }
    .feature-item {
        gap: 0;
    }
}

@media (min-width: 900px) {
    .features {
        gap: calc(var(--gap) * 2.5);
        margin-bottom: calc(var(--margin) * 4);
    }
}

.main {
    justify-items: center;
    gap: var(--gap);
}

.section--news {
    flex-direction: column;
    max-width: var(--current-breakpoint);
}
.section__title {
    margin: 0.3em 0;
}
.section__horizontal-line {
    border-bottom: var(--border) solid var(--hex-cinnabar);
    margin-bottom: var(--margin);
}
.news {
    grid-template-columns: 1fr;
    gap: var(--gap)
}
.news-item {
    position: relative;
}
.news-item__image {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}
.news-item__title {
    position: absolute;
    top: auto; right: 0; bottom: 0; left: 0;
    background-color: rgba(var(--rgb-cultured), 0.8);
    backdrop-filter: blur(0.5em);
    border-bottom: 2px solid var(--hex-cinnabar);
    text-shadow: var(--hex-cultured) 0 0 1em;
    padding: var(--padding);
    margin: 0;
}

@media (min-width: 600px) {
    .news {
        grid-template-columns: repeat(2, 1fr);
    }
    .section--news {
        padding: var(--padding);
    }
}

@media (min-width: 900px) {
    .news {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .section--news {
        max-width: calc(var(--width-laptop) * 0.8);
    }
}

.section--top-list {
    width: 100%;
    padding: var(--padding);
    background-color: rgba(var(--rgb-airblue), 0.7);
}
.top-lists {
    grid-template-columns: 1fr;
    gap: var(--gap);
    justify-content: center;
    justify-items: center;
}
.top-list {
    background-color: rgba(var(--rgb-cultured), 0.5);
    padding: var(--padding);
}
.top-list__body {
    grid-template-columns: auto 1fr;
    gap: var(--gap);
}
.top-list__number {
    padding: var(--padding);
}
.top-list__data {
    background-color: rgba(var(--rgb-cultured), 1);
    padding: var(--padding);
}

@media (min-width: 600px) {
    .top-lists {
        grid-template-columns: repeat(2, max-content);
    }
}
