.container {
    background-color: var(--hex-jet);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
}
.container::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../img/film_strip.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    mix-blend-mode: multiply;
    background-position: center;
    opacity: 0.5;
    z-index: 1;
}
.logo-pane, .form-pane {
    width: clamp(var(--width-min), 75%, 420px);
    z-index: 2;
}
.logo-pane {
    text-align: center;
    margin-top: calc(var(--margin) * 4);
}
.logo-img {
    width: 70%;
    transition: transform 0.2s;
}
.messages {
    color: var(--hex-cultured);
    text-align: center;
    min-height: 1em;
    margin: var(--margin) 0;
    text-decoration: underline;
    text-decoration-color: var(--hex-cinnabar);
}
.form-title {
    color: var(--hex-cultured);
    margin: 1em 0 0;
    padding-left: 2em;
    font-weight: lighter;
}
.form-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-column > *:not(:last-of-type) {
    margin-bottom: 0.5em;
}
.form-column input {
    box-sizing: border-box;
    border: 0;
    width: 80%;
    font-size: 1.1rem;
    padding: 0.5em 1.5em;
    height: 3em;
    border-radius: 1.5em;
}
.form-row a {
    text-decoration: none;
    color: var(--hex-cultured);
    border: 1px solid transparent;
    transition: border-bottom 0.1s;
}
.form-row a:hover {
    border-bottom: 1px solid var(--hex-cultured);
}
.form-row {
    display: flex;
    margin: 1em auto 0;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
.sign-up-area {
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    align-items: center;
}
.sign-up-area p {
    color: var(--hex-cultured);
}

@media only screen and (min-width: 1200px) {
    .container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .logo-pane, .form-pane {
        width: calc(var(--width-laptop) * 0.40);
    }
    .logo-pane {
        margin-top: 0;
    }
    .logo-img:hover {
        transform: scale(1.2) rotate(-10deg);
    }
    form {
        margin-top: 2em;
    }
}