/* ******************************* */
/* MAIN CSS File for all the sites */
/* ******************************* */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
:root {
    --base-jet: #2E2E2E;
    --base-cultured: #F6F6F6;
    --base-cinnabar: #DE4D40;
    --base-airblue: #88A3BF;
    --base-honeyyellow: #F5B13D;
    --base-wisteria: #B497D8;
    --base-emerald: #45CB85;
    --base-jeans: #52AEF4;

    --width-phone: 360px;
    --width-phone-portrait: 576px;
    --width-tablet: 786px;
    --width-laptop: 992px;
    --width-large-monitor: 1280px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    background-color: var(--base-cultured);
    color: var(--base-jet);
    position: relative;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    border: 0;
    font-size: 1.1rem;
    padding: 0.5em 1.8em;
    height: 3em;
    border-radius: 1.5em;
    color: var(--base-cultured);
    background-color: var(--base-cinnabar);
    outline: none;
    transition: box-shadow .1s;
}
button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 2px var(--base-cultured);
}
nav {
    position: fixed;
    z-index: 3;
    background-color: var(--base-jet);
    color: var(--base-cultured);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav::after {
    content: "";
    position: absolute;
    top: auto; right: 0; bottom: -0.3em; left: 0;
    inset: auto 0 -0.3em;
    width: 100%;
    height: 0.3em;
    background: transparent;
    background: linear-gradient(180deg, rgba(46,46,46,1) 0%, rgba(46,46,46,0) 100%);
}
.hamburger {
    font-size: 2.5rem;
    padding: 0.1em 0.3em;
    font-variation-settings: "TIME" 1;
    transition: font-variation-settings 0.4s ease;
}
nav img {
    height: 2.5em;
    /*padding: 0.5em 4em;*/
    padding: 1em 1em 0.5em;
}
.nav-items {
    background-color: var(--base-jet);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 1em 0;
    transition: transform 0.4s ease-out;
}
.nav-item:not(:last-of-type) {
    margin-bottom: 0.5em;
}
@supports (gap: 0.5em) {
    .nav-items {
        gap: 0.5em;
    }
    .nav-item:not(:last-of-type) {
        margin-bottom: 0;
    }
}
.nav-item {
    font-size: 1.1rem;
    width: 4.5em;
    text-align: center;
    padding: 1.5em;
}
.nav-item:hover {
    background-color: var(--base-cinnabar);
}
.base-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}
.top-content-container {
    background-color: var(--base-jet);
    color: var(--base-cultured);
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    width: 100%;
    border-radius: 0 0 15px 15px;
    position: relative;
}
.top-content-container::before {
    content: "";
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../img/film_strip.png");
    background-repeat: no-repeat;
    background-size: 90%;
    mix-blend-mode: multiply;
    background-position: top center;
    z-index: 1;
    opacity: 0.5;
}
.top-content-container > * {
    z-index: 2;
}
main {
    flex-grow: 1;
}
footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    background-color: var(--base-jet);
}
footer > *:not(:last-of-type) {
    margin-bottom: 1em;
}
@supports (gap: 1em) {
    footer {
        gap: 1em;
    }
    footer > *:not(:last-of-type) {
        margin-bottom: 0;
    }
}
footer img {
    width: calc(var(--width-phone) * 0.6);
}
.footer-row {
    color: var(--base-cultured);
    display: flex;
}
.footer-row > *:not(:last-of-type) {
    margin-right: 2em;
}
@supports (gap: 2em) {
    .footer-row {
        gap: 2em;
    }
    .footer-row > *:not(:last-of-type) {
        margin-right: 0;
    }
}
.footer-row ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.footer-row ul > *:not(:last-of-type) {
    margin-bottom: 1em;
}
@supports (gap: 1em) {
    .footer-row ul {
        gap: 1em;
    }
    .footer-row ul > *:not(:last-of-type) {
        margin-bottom: 0;
    }
}
.icon {
    font-family: "Anicons Regular", sans-serif;
}
.signature {
    position: absolute;
    top: auto; right: 0.2em; bottom: 0.2em; left: auto;
    inset: auto 0.2em 0.2em auto;
    color: var(--base-cultured);
    font-size: 0.8rem;
    font-weight: 300;
    opacity: 0.7;
    z-index: 2;
}

@media (min-width: 768px) {
    .top-content-container::before {
        display: block;
    }
}

@media (max-width: calc(768px - 1px) ) {
    body[data-navigation-visible="true"] .hamburger {
        font-variation-settings: "TIME" 100;
    }
    body[data-navigation-visible="true"] .base-container {
        transform: translateX(-100%);
        opacity: 0;
    }
    .nav-items {
        position: fixed;
        top: 4em; right: 0; bottom: 0; left: 0;
        inset: 4em 0 0;
        transform: translateX(-100%);
    }
    body[data-navigation-visible="true"] .nav-items {
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    nav {
        justify-content: center;
    }
    .nav-items {
        flex-direction: row;
        padding: 0;
        gap: 0;
    }
    footer {
    }
}

@media (min-width: 992px) {
    .nav-items {
        gap: 0.5em;
        padding-left: 1em;
    }
    footer {
        flex-direction: row;
        justify-content: center;
        padding: 2em 0;
        gap: 5em;
    }
}

@media (min-width: 1280px) {
    :root {
        font-size: 1.1rem;
    }

}
