.profile-summary {
    margin-top: var(--margin);
    grid-template-columns: min-content auto;
    gap: var(--gap);
    width: 100%;
    padding: var(--padding);
}
.profile-image-wrapper {
    align-self: start;
    width: 150px;
    height: 150px;
    padding: var(--padding);
    border-radius: 50%;
    background: conic-gradient(from 90deg at 50% 50%, #F5B13D 10%, #B497D8 15%, #B497D8 35%, #45CB85 40%, #45CB85 60%, #52AEF4 65%, #52AEF4 85%, #F5B13D 90%);
}
.profile-image {
    border-radius: 50%;
}
.user-info__user-name {
    margin: calc(var(--margin) / 2) 0;
}
.user-info__user-name, .user-info__description {
    padding: 0 calc(var(--padding) / 2);
}
.user-stats {
    max-width: 25em;
    justify-self: center;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    justify-items: center;
}
.user-stats__horizontal-line {
    grid-column: span 2;
    border-bottom: var(--border) solid var(--hex-cinnabar);
    width: 100%;
}
.profile-button {
    grid-column: span 2;
    background-color: var(--hex-cinnabar);
    text-align: center;
    padding: var(--padding);
    border-radius: 100vw;
    cursor: pointer;
    transition: box-shadow 0.2s, color 0.2s;
}
.share-profile-button {
    background-color: var(--hex-airblue);
    position: relative;
}
.share-profile-button .tooltip {
    position: absolute;
    bottom: 90%;
    left: 50%;
    opacity: 0;
    background-color: var(--hex-jet);
    color: var(--hex-cultured);
    text-align: center;
    padding: var(--padding);
    border-radius: 5px;
    z-index: 5;
    transition: opacity 0.2s;
}
.share-profile-button .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--hex-jet) transparent transparent transparent;
}
.tooltip[data-visible=true] {
    opacity: 1;
}
.follow-profile-button, .unfollow-profile-button {
    background-color: var(--hex-cinnabar);
}
.edit-profile-button {
    background-color: rgba(var(--rgb-emerald), 0.8);
}
.share-profile-button:hover,
.follow-profile-button:hover,
.unfollow-profile-button:hover,
.edit-profile-button:hover {
    box-shadow: 0 0 0.1em 0.1em var(--hex-cultured);
}

.profile-editor-wrapper {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 20;
    inset: 0 0 0 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--rgb-jet), 0.5);
}
.profile-editor-wrapper[data-visible=true] {
    display: flex;
}
.profile-editor {
    background-color: var(--hex-cultured);
    display: grid;
    border-radius: 10px;
    color: var(--hex-jet);
    padding: vaR(--padding);
}
.close-icon {
    font-size: 1.5em;
    justify-self: end;
    padding: calc(var(--padding) / 2);
    cursor: pointer;
}
.message {
    color: var(--hex-cinnabar);
    font-weight: bolder;
}
.input-label {
    margin: var(--margin) 0 calc(var(--margin) / 2) 0;
}
.user-description-input {
    width: 100%;
    resize: vertical;
    margin-bottom: calc(var(--margin) / 2);
}
.save-button {
    background-color: var(--hex-emerald);
    transition: box-shadow 0.2s;
}
:is(.save-button, .cancel-button):hover {
    box-shadow: 0 0 0.1em 0.1em var(--hex-jet);
}

@media (min-width: 600px) {
    .profile-summary {
        width: var(--current-breakpoint);
        margin-bottom: var(--margin);
    }
    .profile-image-wrapper {
        grid-row: span 2;
        width: 250px;
        height: 250px;
    }
    .user-stats {
        justify-self: start;
        grid-column: 2;
    }
    .profile-button {
        grid-column: 1;
    }
}

@media (min-width: 1200px) {
    .profile-summary {
        width: var(--width-laptop);
    }
}

.main {
    justify-items: center;
    width: 100%;
}

@media (min-width: 600px) {
    .main {
        grid-template-columns: minmax(300px, auto) max-content;
    }
}
@media (min-width: 900px) {
    .main {
        grid-template-columns: minmax(500px, auto) max-content;
        justify-content: center;
    }
}
@media (min-width: 1200px) {
    .main {
        grid-template-columns: minmax(700px, auto) max-content;
        justify-content: center;
    }
}

.section__title {
    margin: 0.3em 0;
}
.section__horizontal-line {
    border-bottom: var(--border) solid var(--hex-cinnabar);
    margin-bottom: var(--margin);
}

.section--user-activity {
    flex-direction: column;
    padding: var(--padding);
    width: 100%;
}
.user-activity-grid {
    gap: var(--gap);
}
.user-activity-item {
    background-color: white;
}
.user-activity-item__poster {
    width: calc(var(--width-min) * 0.35);
    align-self: start;
}
.item-details {
    flex-grow: 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto) 1fr;
    padding: var(--padding);
    gap: var(--gap);
}
.item-details__link {
    grid-column: 1 / span 2;
}
.item-details__title {
    margin: 0;
    cursor: pointer;
}
.item-details__title:hover {
    text-decoration: underline;
}
.item-stats {
    font-size: 1.1em;
    align-items: baseline;
    align-self: center;
    justify-self: end;
}
.item-stats .fas {
    padding: calc(var(--padding) / 2);
}
.item-stats__star {
    color: var(--hex-airblue);
}
.item-details__item-type {
    align-self: center;
    justify-self: start;
    padding: calc(var(--padding) / 2) var(--padding);
    border-radius: calc(1em + var(--padding) / 2);
}
.item-details__user-review {
    grid-column: span 2;
    align-self: end;
    margin: 0;
}

@media (min-width: 900px) {

}

.section--random-users {
    flex-direction: column;
    padding: var(--padding);
    width: 100%;
}
.random-user-item {
    background-color: white;
}
.random__user-profile {
    width: calc(var(--width-min) * 0.3);
    align-self: start;
}
.random-user-details {
    padding: var(--padding);
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    gap: var(--gap);
}
.random__user-link {
    grid-column: span 4;
}
.random__user-name {
    margin: 0;
    font-size: 1.1em;
    cursor: pointer;
}
.random__user-name:hover {
    font-weight: bolder;
    text-decoration: underline;
}
.random-user__vertical-line {
    grid-row: span 2;
    border-right: var(--border) solid var(--hex-cinnabar);
}
.stat-item {
    align-items: center;
}
.stat-item .fas {
    margin-right: calc(var(--margin) / 2);
}
.stat-item__star {
    color: var(--hex-airblue);
}
.stat-item__user-plus {
    color: var(--hex-cinnabar);
}
.circle {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin-right: calc(var(--margin) / 2);
}

.section--favorites {
    flex-direction: column;
    padding: var(--padding);
    width: 100%;
    max-width: 100vw;
}
.favorite-grid {
    grid-template-columns: calc(var(--width-min) / 2 - 20px);
    grid-auto-flow: column;
    grid-auto-columns: calc(var(--width-min) / 2 - 20px);
    overflow-y: auto;
    max-width: 100%;
    gap: var(--gap);
}
.favorite-grid-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.2s;
    background-color: white;
}
.favorite-grid-item:hover {
    box-shadow: 0 0 7px 0 var(--hex-jet);
}
.favorite-grid-item:hover .favorite-grid-item__poster {
    transform: scale(1.05);
}
.favorite-grid-item__poster {
    transition: transform 0.2s;
}
.favorite-item-details {
    padding: calc(var(--padding) / 2);
}
.favorite-item-details__title {
    margin: 0;
}
.favorite-item-details__description {
    margin: 0;
}
.item-stats {
    justify-content: center;
}
.item-stats__heart {
    color: var(--hex-cinnabar);
}

@media (min-width: 600px) {
    .section--favorites {
        grid-column: span 2;
    }
}

.section--top-list {
    width: 100%;
    padding: var(--padding);
    background-color: rgba(var(--rgb-airblue), 0.7);
}
.top-lists {
    grid-template-columns: minmax(300px, 480px);
    gap: var(--gap);
    justify-content: center;
}
.top-list {
    background-color: rgba(var(--rgb-cultured), 0.5);
    padding: var(--padding);
}
.top-list__body {
    grid-template-columns: 1fr;
    gap: var(--gap);
}
.top-list-link {
    grid-template-columns: 37px 1fr auto;
    gap: var(--gap);
}
.top-list-link:hover {
    font-weight: bolder;
}
.top-list__number {
    padding: var(--padding);
}
.top-list__data {
    background-color: rgba(var(--rgb-cultured), 1);
    padding: var(--padding);
}
.top-list-stat {
    padding: var(--padding) 0;
}
.top-list__star {
    color: var(--hex-honeyyellow);
}
.top-list__stars-count {
    font-weight: bolder;
}

@media (min-width: 600px) {
    .top-lists {
        grid-template-columns: repeat(2, minmax(280px, max-content));
    }
}

.hidden-textarea {
    position: fixed;
    inset: 0 auto auto 0;
    width: 2em;
    height: 2em;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
}